<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contect</title>
    <link rel="stylesheet" href="../stuff/style.css">
</head>
<body>
    <% include partial/nav.ejs %>
    <div class="main">
        <h1>You can contect with this email : geckankot@gecr.com </h1>
    </div>
</body>
</html>