<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donate</title>
    <link rel="stylesheet" href="../stuff/style.css">
</head>
<body>
    <% include partial/nav.ejs %>
    <h1>Donation can accept here...</h1>
    <img src="/stuff/1554111444690-1.jpg" height="320px" width="450px" alt="paythmCode">
</body>
</html>