<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../stuff/style.css">
</head>
<body>

    <% include partial/nav.ejs %>
    <h1>This is Book Author Data Store in MongoDB Database </h1>
    <h2>Add Book Data to db goto <a href="/form">form...</a></h2>
    <% include partial/footer.ejs %>
    
</body>
</html>